## IMPORT PYTHON MODULES

In [1]:
#import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import warnings
import matplotlib.pyplot as plt

## IMPORT AND VALIDATE DATA

In [3]:
warnings.filterwarnings("ignore")

#import data
data = r'final_dataset.csv'
cp = pd.read_csv(data)

cp.head()

,Unnamed: 0,user_pseudo_id,medium_path,conversion_flag,first_touchpoint,conversion_timestamp,step1,step2,step3,step4,step5,step6,step7,step8,step9,step10,step11,step12,step13
0,4,nP78ikNKi2iu1IJUO+LWIPcoByh3ZWFvlIzIl174i1jCuK...,paidsocial,0,2022-12-28 00:00:52.722434+00:00,NaN,paidsocial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5,Kkx/yH2k8X5rWdx+wG7DPuxpEyCsvSNwDqr4BzWGpxQw38...,cpc,0,2022-12-28 00:01:01.875587+00:00,NaN,cpc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6,brAeKj/gaKj8RkzQBIJfe/5XDKShTLwOcTh6yXQink4Kuo...,organic,0,2022-12-28 00:01:15.005975+00:00,NaN,organic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9,4i0jYrhlk2CNR94hRIat8WPFLkU8dRdcPgKA1oDlwsWbUe...,cpc,0,2022-12-28 00:02:08.431349+00:00,NaN,cpc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10,JDClr9MBvuQkNi/PeCvCFScJ0NL/3qIlq0ZWVYzoGSbsNC...,paidsocial,0,2022-12-28 00:02:24.791342+00:00,NaN,paidsocial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
cp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71009 entries, 0 to 71008
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            71009 non-null  int64
 1   user_pseudo_id        71009 non-null  object
 2   medium_path           71009 non-null  object
 3   conversion_flag       71009 non-null  int64
 4   first_touchpoint      71009 non-null  object
 5   conversion_timestamp  3489 non-null   object
 6   step1                 71009 non-null  object
 7   step2                 13645 non-null  object
 8   step3                 6428 non-null   object
 9   step4                 3758 non-null   object
 10  step5                 2454 non-null   object
 11  step6                 1712 non-null   object
 12  step7                 1305 non-null   object
 13  step8                 1016 non-null   object
 14  step9                 812 non-null    object
 15  step10                677 non-null    object
 16  step11                565 non-null    object
 17  step12                488 non-null    object
 18  step13                426 non-null    object
dtypes: int64(2), object(17)
memory usage: 10.3+ MB

# DATA ANALYSIS